# ------------------------------------
# NPM
# ------------------------------------
node_modules/

# ------------------------------------
# Logging
# ------------------------------------
*.log

# ------------------------------------
# Webpack
# ------------------------------------
dist/
