<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Phaser Test v3</title>
  </head>
  <body>
    <h1>Phaser Test v3</h1>

    <h2>Actions</h2>
    <ul>
      <li>
        <a href="/actions/grid-align">Grid Align</a>
      </li>
      <li>
        <a href="/actions/inc-x-layers">Inc X Layers</a>
      </li>
      <li>
        <a href="/actions/place-on-a-circle-multi">Place on a Circle Multi</a>
      </li>
      <li>
        <a href="/actions/place-on-a-circle-reversed">Place on a Circle Reversed</a>
      </li>
      <li>
        <a href="/actions/place-on-a-circle">Place on a Circle</a>
      </li>
      <li>
        <a href="/actions/place-on-ellipse">Place on Ellipse</a>
      </li>
      <li>
        <a href="/actions/place-on-line">Place on Line</a>
      </li>
      <li>
        <a href="/actions/place-on-part-of-a-circle">Place on Part of a Circle</a>
      </li>
      <li>
        <a href="/actions/place-on-rectangle-shift">Place on Rectangle Shift</a>
      </li>
      <li>
        <a href="/actions/place-on-rectangle">Place on Rectangle</a>
      </li>
    </ul>

    <h2>Games</h2>
    <ul>
      <li>
        <a href="/space-shooter">Space Shooter</a>
      </li>
    </ul>
  </body>
</html>
